* { margin:0; padding:0; }

html, body, #map_canvas, #calculating { width:100%; height:100%; }
#calculating { position:absolute; top:0; left:0; background:#000; color:#fff; }

body {
	font-family:Verdana, Geneva, sans-serif;
    width:100%;
	height:100%;
	background-color:#03002b;
	text-align:center;
}

h1 {
    color:#fff;
	text-align:center;
	margin:3px 0 8px;
}

#top, #logo {
	background-color:#fff;
	text-align:center;
}

#logo {
	padding:10px 0 0;
}

#top img {
	position:relative;
	top:18px;
}

img{
	border: 0px;
}

#wrapper {
    width:100%;
	min-width: 320px;
	min-height: 480px;
	margin: 0 auto;
	
}

#menu{
    margin-top:30px;
}

#homeMenu {
	list-style:none;
}

.menuItem{
	height:30px;
	padding:5px 0;
}

.menuItem a {
	color:#fff;
}

.inputBox {
    margin:4px;
    padding:4px;
    height:30px;
    background-color:#5CCF07;
    clear:both;
}

.menuInput input {
    height:25px;
    width:320px;
    border:1px solid #000;
	padding:3px 0;
	margin:4px 0 8px;
	text-align:center;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color:#333;
	font-size:18px;
	font-weight:bold;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px; 
}

.menuInput .radio > * {
	width:auto;
	top:0;
}

label {
    width:100px;
    color:#fff;
    font-weight: bold;
	position:relative;
	top:10px;
}

#submit {
	margin:20px 0 0 ;
	width:320px;
	height:35px;
	color:#fff;
	background-color:#090;
	border:2px solid #060;
	font-weight:bold;
	font-size:16px;	
	letter-spacing:2px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px; 
}

#directions {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
    background-color:#000;
    color:#fff;
    height:90px;
    text-align:left;
	overflow:hidden;
}

.green {
    color:#43D911;
}

#directions h2 {
    font-size:20px;
    font-weight:bold;
    position:relative;
    left:25px;
    top:3px;
    
}

#directions span {
    position:relative;
    left:25px; 
    top:3px;  
}

#directions img {
    background-color: #FFFFFF;
    float: left;
    height: 73%;
    left: 15px;
    padding: 5px;
    position: relative;
    top: 5px;

}

.ondergrond {
    font-style:italic;
    font-weight: bold;
    font-size:14px;
}

.total_length {
	position:absolute;
	bottom:0;
	height:20px;
	left:15px;
	display:block;
    font-size:12px;
    font-weight: bold;
    color:#fff;
}

.when {
    font-weight: bold;
    font-size:14px;
}